body {
    display: flex;
    margin: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.boardSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    gap: 8px;
}

.boardSize p {
    margin: 0;
}

.etchContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    outline: 2px solid red;
    width: 600px;
    height: 600px;
}

.etchTile {
    display: flex;
    flex-shrink: 0;
}